<section class="bg-dusk text-white relative">
  <figure>
    <img src="../../assets/images/hero/image-intro-mobile.jpg" alt="family together" class="w-full">
  </figure>

  <article class="px-6 py-[96px] text-center">
    <h1 class="h1">Humanizing your insurance.</h1>
    <p class="description mt-4 mb-8">
      Get your life insurance coverage easier and faster. We blend our expertise and technology to help you find the
      plan that’s right for you. Ensure you and your loved ones are protected.
    </p>
    <button class="btn secondary">view plans</button>
  </article>

  <img src="../../assets/images/hero/bg-pattern-hero-right-mobile.svg" alt="lines svg"
    class="img-mobile absolute right-0 bottom-[-19%]">
</section>