<section
  class="mx-6 px-6 lg:px-[81px] lg:py-[69px] py-[72px] mt-[140px] md:mt-[158px] text-center md:text-start bg-dusk relative text-white overflow-hidden flex flex-col gap-10 items-center md:flex-row justify-between desktop-screen lg:mx-auto">

  <h2 class="relative z-10 h1 lg:max-w-[475px] md:max-w-[410px]">Find out more about how we work</h2>

  <button class="btn secondary relative z-10">how we work</button>

  <img src="../../assets/images/bg/bg-pattern-how-we-work-mobile.svg" alt="lines svg"
    class="img-mobile absolute top-0 right-0 pointer-events-none z-0">

  <img src="../../assets/images/bg/bg-pattern-how-we-work-desktop.svg" alt="lines svg"
    class="img-tablet absolute top-0 right-0 pointer-events-none z-0">

</section>